body{
    font-family: 'Quicksand', sans-serif;
        margin: 0;
        padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.book{
    background-color: #DC7633;
    color: #FFF;
}

.book:hover{
    background-color: #D35400;
    color: #FFF;
}
.contact{
    
}
.footer{
    padding: 20px;
    text-align: center;
    color:white;
    background-color: #2C3E50;
}
.footer a{
    text-decoration: none;
    color:orange;
}
.footer a:hover{
    color:white;
}
#contact{
    height: 400px;
    background-color: antiquewhite;
}
#blog{
    height:300px;
    background-color: #DC7633;
    padding: 20px;
    margin: auto;
}
#services{
    height: 300px;
    background-color: orange;
}
#services .list{
    float:left;
    width:50%;
    height: 300px;
    background-color: rgb(230, 143, 56);
    text-align: left;
}
#services .images{
    float:right;
    width:50%;
    height: 300px;
   /* background-color: green;*/
}
#contact form input{
    border-color: orange;
    align-items: center;
    display: block;
    padding:10px;
    align-content: center;
    border-radius: 5px;
}
textarea{
    border-color: orange;
    display: block;
    border-radius: 5px;
}
.submit{
    border-color: orange;
    border-radius: 5px;
    color: orange;
    font-weight: bold;
}
.submit:hover{
    border-color: orange;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: orange;
}
form{
    padding:20px;
}
.contacts{
    text-align: center;
    color: orange;
}